---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import type { Frontmatter } from "src/types";
import Socials from "@components/Socials.astro";

const posts = await Astro.glob<Frontmatter>("../contents/**/*.md");

const sortedPosts = getSortedPosts(posts);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <p>
        I write & speaking on anti-manipulation engineering, consequence design, and amplifying the need for product teams to focus on improving the service design of everyday experiences. 

        Beyond my research interests, I'm a board member and volunteer for several local & civic organizations including AIGA Portland, the local chapter of the international Interaction Design Association, and I coach high school tennis every spring. 
      <div class="social-wrapper">
        <div class="social-links">Social:</div>
        <Socials />
      
      </div>
      <div class="social-wrapper">
<p>
 <div class="social-links"><b>Currently Reading</b>:</div>
<div id="literal-widget" handle="ron" status="IS_READING" layout="row"></div>
<script src="https://literal.club/js/widget.js"></script>

      </p></div> 
    </section>

    <Hr />

    <section id="featured">
    <section id="recent-posts">
      
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8;
  }
  #hero h1 {
    @apply inline-block font-bold my-4 sm:my-8 text-3xl sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply h-6 w-6 scale-110 sm:scale-125 mb-2 sm:mb-3 fill-skin-accent;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply flex flex-col sm:flex-row sm:items-center mt-4 mb-6;
  }
  .social-links {
    @apply whitespace-nowrap mr-2 sm:mb-0 mb-1;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply font-semibold text-2xl tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply text-center my-8;
  }
</style>
